html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
}

h2 {
    font-family: var(--lato);
    color: var(--dark-purple);
    font-size: 25pt;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: var(--lato);
    color: var(--grey);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}
