@import url('https://fonts.googleapis.com/css?family=Raleway+Libre');

body{

    margin: 0;
    width: 100%;
    height: auto;
    background-color: #eaeef7;
    overflow-x: hidden;
}

.content{
    margin: 0 auto;
    top: 6em;
    width:100%;
}


p{
    color: #545454; 
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.desc{
    font-size: 10pt;
}

h2{
    font-family: 'Lato', sans-serif;
    color: #4E8DFF;
    font-size: 25pt;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

h3{
    font-family: 'Lato', sans-serif;
    color: #545454;
    font-size: 12pt;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.break{
    position: relative;
    margin: 0 auto;
    margin-top: 40pt;
    margin-bottom: 20pt;
    text-align: center;
}

.circles{
    width: 5px;
    height: 5px;
    background-color: lightgrey;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10pt;
}

.circles:first-child{
    margin-left: 0;
}

.bold{
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    
    .content{
        width: 100%;
    }

    .desc{
        width: 90%;
        padding: 0;
        margin-top: -1em;
    }
}

@media screen and (max-width: 430px) {
    .content{
        top: 10em;
    }
    
    .desc{
        position: relative;
        text-align: center;
        margin: 0 auto;
        
    }
    
    #main{
        position: relative;
        margin: 0 auto;
        padding-left: 1em;
    }   
    
    h2{

        font-size: 20pt;
        transition:all .5s ease;
        text-align: center;
    }
    

    #design, #development{
        width: 90%;
        margin-bottom: 30pt;
        transition:all .5s ease;
    }
    
    #design h3, #development h3{
        margin: 0pt auto;
        margin-bottom: 10pt;
    }
    
    #design img{
        margin-top: 0pt;
    }
    
    #development img{
        margin-top: 0pt;
    }


}