footer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: #363a77;
  color: #fff2d2;
  background-image: url("../media/seigaiha.png");
}

.external-links {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15em;
  padding: 2em 0em;
  margin-top: 3em;
}

.external-links .fab {
  color: #96a1d1;
}

.external-links .fab:hover {
  cursor: pointer;
  color: #fff2d2;
  text-shadow: 0 0px 5px #fff2d2;
}

.aboutme {
  margin-top: 3em;
}
.aboutme h3 {
  color: #fcfcfc;
}

.aboutme p {
  position: relative;
  margin: 0 auto;
  width: 450px;
  color: #fcfcfc;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;
}

.aboutme img {
  display: block;
  margin: 0 auto;
}

.contact h3,
.interests h3 {
  position: relative;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 0.5em;
  color: #fcfcfc;
  text-align: left;
  width: 450px;
}

.contact p,
.interests p {
  position: relative;
  margin: 0 auto;
  width: 450px;
  color: #fcfcfc;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;
}
