footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    color: var(--cream);
    background-image: var(--waves);
}

.external-links {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15em;
    padding: 2em 0em;
    margin-top: 2em;
}

.external-links .fab {
    color: var(--purple);
}

.external-links .fab:hover {
    cursor: pointer;
    color: var(--cream);
}

.about-me-wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1090px;
    margin-top: 3em;
    font-size: 16px;
}

.about-me-wrap h3 {
    color: var(--white);
}

.about-me-wrap p {
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
}

.about-me-wrap img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    footer svg {
        margin-top: -1px;
    }

    .about-me-wrap {
        padding: 0px 20px;
    }
}
