@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

.gradient{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 3.5em;
    top:2.4em;
    background: linear-gradient(90deg, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.3) 85%, rgba(255, 255, 255, .7) 100%);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 2;
}

header{
    position: fixed;
    top:0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 6em;
    z-index: 2;
    background-color: #878fc1;
}

.navbar{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height: 6em;   
}

.logo{
    position: relative;
    width: 6em;
    padding: .5em;
    height: auto;
    border-radius: 6em;
    background-color: rgba(255,255,255, .5);
    margin: 0;
    margin-top: 1em;
    margin-left: 2em;
    border: 1px solid white;
    transition:all .5s ease;
  	z-index: 2;
}

.logo:hover{
    cursor: pointer;
    transition:all .5s ease;
    transform: scale(1.1);
}

.mainMenu{ 
    margin-top: 35pt;
    position: relative;
    float: right;
  	z-index:2;
    list-style: none;
    display: inline-flex;
    font-family: "Lato";
    text-transform:uppercase;
    font-weight: bold;
    font-size: 10pt;
    padding: 10pt 0pt;
    font-size: 12pt;
}

.mainMenu a{
    color: #4C51AB;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s ease;
}

.link{
	padding: 0pt 10pt;
}

.mainMenu a:hover{
    color: white;
    cursor:pointer;
}

h1{
    text-align: center;
    margin-top: 40pt;
}

h1 img{
    max-width: 420px;
    height: auto;
}

@media screen and (max-width: 960px) {
    .navbar{
        width: 100%;
        transition:all .5s ease;
    }
    
    .mainMenu ul{
        padding-left: 0pt;
    }   
	
	#logos{
		display: none;
	}
}

@media screen and (max-width: 700px) {
    .logo{
        width: 5em;
        margin-left: 1em;
    }
	
		.mainMenu li:last-child{
				margin-right: 10pt;
		}
}

@media screen and (max-width: 430px) {
		.gradient, header{
				border-radius: 0;
			}
    
    .logo{
        display: block;
        margin: 0 auto;
        top:1em;
    }
	
    .mainMenu{
				display: none;
    }
	
		#title{
			margin-top: -3em;;
			padding: 0;
		}

}




