@import url('https://fonts.googleapis.com/css?family=Lato');

header {
    position: fixed;
    margin: 0 auto;
    background-image: var(--waves);
    background-repeat: repeat;
    width: 100%;
    height: 4em;
    z-index: 500;
}

.nav-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1090px;
    padding: 0px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links a,
button {
    padding: 0px 20px;
    color: var(--cream);
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
    background: none;
    border: none;
}

.nav-links a:hover,
button:hover {
    color: var(--white);
    cursor: pointer;
    text-shadow: 0 0px 5px var(--cream);
}

@media screen and (max-width: 480px) {
    .nav-container {
        justify-content: center;
    }
}
