@import url("https://fonts.googleapis.com/css?family=Lato");

header {
  position: fixed;
  margin: 0 auto;
  background-color: #43467f;
  background-image: url("../media/seigaiha.png");
  background-repeat: repeat;
  width: 100%;
  height: 4em;
  z-index: 500;
}

.nav-bar {
  width: 90%;
}

.nav-links {
  position: relative;
  margin-top: 20px;

  float: right;
  display: inline-flex;
}

.nav-links a {
  margin-left: 50px;
  color: #fff2d2;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease;
}

.nav-links a:hover {
  color: white;
  cursor: pointer;
  text-shadow: 0 0px 5px #fff2d2;
}

@media only screen and (max-width: 360px) {
  .nav-bar {
    margin: 0 auto;
    text-align: center;
    min-width: 360px;
  }

  .nav-links {
    float: none;
  }

  .nav-links a {
    margin: 0 50px;
  }
}
