
#goal, #hobbies{
    margin-top: 0em;
}

#motto{
    text-align: center;
    font-size: 12pt;
    font-family: "Abhaya Libre";
    font-weight: bold;
    padding-top: 5em;
}

@media screen and (max-width: 430px) {
    
    .me{
        width: 100px;
        height: auto;
        font-size: 12pt;
        transition:all .5s ease;
    }
    
    
    .desc{
        width: 80%;
    }
    
}



