.logos{
    position: fixed;
    left: 11.8%;
		top: 12em;
}

.logos img{
    display: block;
		margin-bottom: 1em;
    opacity: .2;
}

#linkedin{
    margin-left: 0;

}
.logos img:hover {
    cursor: pointer;
    opacity: .3;
}

.codingSkills img:first-child{
    margin-left: 0em;
}

@media screen and (max-width: 960px) {

	.logos{
		max-width: 13em;
		margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
    text-align: center;
		text-align: center;
		display: flex;
		justify-content: space-between;
		top: 34em;
		
	}
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 430px) {
}

