.logos{
    position: fixed;
    left: 11.5em;
		top: 12em;
}

.logos img{
    display: block;
		margin-bottom: 1em;
    opacity: .2;
}


#linkedin{
    margin-left: 0;

}
.logos img:hover {
    cursor: pointer;
    opacity: .3;
}

.codingSkills img:first-child{
    margin-left: 0em;
}

@media screen and (max-width: 960px) {
    
    .logos img{
        margin-left: 0em;
    }
}

@media screen and (max-width: 700px) {

    .logos img{
        margin-left: 2.5em;
    }
    
    .logos #linkedin{
        margin-left: 0;
    }
}

