.logos{
    top: 30em;
    position: fixed;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.logos img{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1em;
    margin-left:1.5em;
    opacity: .2;
}


#linkedin{
    margin-left: 0;

}
.logos img:hover{
    cursor: pointer;
    opacity: .3;
}

.codingSkills img:first-child{
    margin-left: 0em;
}

@media screen and (max-width: 960px) {
    
    .logos img{
        margin-left: 0em;
    }
}

@media screen and (max-width: 700px) {

    .logos img{
        margin-left: 2.5em;
    }
    
    .logos #linkedin{
        margin-left: 0;
    }
}
