.capitalize {
  text-transform: capitalize;
}

.projects-wrap {
  width: 100%;
  margin-top: 5em;
  padding-bottom: 5em;
  background-color: #fcfcfc;
}

.project-title {
  text-align: center;
}

.project-title h3 {
  position: relative;
  margin: 5em auto;
  display: inline-flex;
}

.project-title .fas {
  color: #545454;
  stroke: #efefef;
}

.projects-container {
  position: relative;
  margin: 0 auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  align-items: start;
  column-gap: 40px;
  row-gap: 55px;
  z-index: 100;
}

.proj-box {
  background: #efefef;
  background-image: url("../media/seigaiha_white.png");
  background-repeat: repeat;
  color: #545454;
  box-shadow: 0 10px 15px rgba(104, 104, 104, 0.4);
}

.proj-box .image-link-div {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.proj-box img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.proj-box img:hover {
  transform: scale(1.03);
}

.proj-title {
  font-size: 18px;
  color: #4c51ab;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
}

.proj-details {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

.proj-location-and-date {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.proj-location-and-date .date {
  position: right;
}

.proj-location-and-date .location {
  position: left;
}

.proj-box hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 0px 20px;
}

.proj-footer {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}

.proj-git-div .fab {
  color: #4c51ab;
}

.proj-git-div-hide {
  opacity: 0;
  pointer-events: none;
  cursor: not-allowed;
}

.proj-tags {
  padding-top: 5px;
}

.proj-tag {
  font-size: 12px;
  margin-left: 8px;
}
