@import url('https://fonts.googleapis.com/css?family=Sacramento');

.projects_wrap {
    width: 100%;
    padding-top: 35em;
    padding-bottom: 1em;
    background-color: #fcfcfc;
}

.projects {
    position: relative;
    margin: 0 auto;
    margin-top: -3em;
    width: 1200px;
}

.projects h2 {
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin-top: 0;
    text-align: center;
    font-weight: 400;
    font-size: 50pt;
    color: #4C51AB;
    font-family: 'Sacramento', cursive;
}

.projects h3 {
    margin-top: 2em;
    margin-bottom: 5em;
    font-weight: 100;
    font-size: 18pt;
}

.proj {
    background: #efefef;
    margin-bottom: 15em;
    background-image: url("../media/seigaiha_white.png");
    background-repeat: repeat;
}

.proj-wrapper {
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #545454;
}

.proj .desc:nth-child(even) {
    margin-right: 2em;
}

.proj .desc h3 {
    text-align: left;
    font-size: 22pt;
    margin-bottom: 0;
    font-weight: 400;
}

.proj-wrapper img {
    position: absolute;
    width: auto;
    height: 350px;
    border-radius: 8px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-top: 3em;
    margin-left: 40px;
}

.proj .desc {
    width: 450px;
}

.proj:nth-child(even) .desc {
    margin-left: auto;
}

.proj:nth-child(odd) .desc {
    margin-left: 3em;
}

.proj a {
    text-decoration: none;
}

.proj .desc .details {
    margin-bottom: 2em;
    font-size: 14pt;
}

.tags {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.tag {
    margin-right: 15px;
    font-family: 'Lato', sans-serif;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
    background: #ffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.last {
    background: none;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 5em;
}

.proj:nth-last-child(1) .desc {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 1250px) {

    .projects {
        width: 90%;
    }

    .proj {
        min-height: 330px;
    }

    .proj .desc h3 {
        font-size: 18pt;
    }

    .proj .image {
        width: 60%;
    }

    .proj:nth-child(even) .image {
        margin-left: 5%;
    }

    .proj:nth-child(odd) .image {
        margin-right: 5em;
    }

    .proj .desc {
        width: 50%;
        padding-right: 30px;
    }

    .proj:nth-child(even) .desc {
        margin: 0;
        margin-left: 5em;
    }

    .proj:nth-child(odd) .desc {
        margin: 0;
        margin-left: 3em;
    }

    .last:nth-last-child(1) .desc {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .last {
        min-height: 200px;
        margin-bottom: 5em;
    }

    .proj img {
        margin: 0px;
        margin-top: 2.5em;
        width: 50%;
        max-width: 460px;
        height: auto;
        animation: float 6s ease-in-out infinite;
    }

    .proj .desc .details {
        font-size: 13pt;
        margin-bottom: 1em;
    }

    .proj .tags {
        font-size: 10pt;
    }

    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }

        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-10px);
        }

        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
    }
}


@media screen and (max-width: 960px) {

    .projects_wrap {
        padding-top: 25em;
    }

    .proj .image {
        width: 250px;
        height: 250px;
    }

    .proj img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .proj:nth-child(2) img {
        object-position: 20% 0;
    }

    .proj:nth-child(4) img {
        object-position: 60% 0;
    }

    .proj:nth-child(5) img {
        object-position: 20% 0;
    }

    .proj:nth-child(6) img {
        object-position: 0% 0;
    }

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 430px) {
    .projects {
        width: 90%;
        min-width: 360px;
    }

    .proj {
        width: 95%;
    }

    .projects h2 {
        font-size: 35pt;
    }

    .proj .desc .details {
        font-size: 10pt;
    }
}