.icons{
    border-radius: 50pt;
}

#design, #development{
    position: relative;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 60pt;
}

.desc{
    text-align: left;
}

#development img{
    float: left;
    margin-right: 10pt;
    margin-top: -20pt;
}

#design img{
    float: right;
    margin-left: 10pt;
    margin-top: -40pt;
}

#development h3{
    width: 255pt;
    margin-left: 95pt;
    
}



#design h3{
   width: 150pt;
   margin-left: 0pt;  
}

#label{
    margin-top: 1em;
}

.button {
    border: none;
    background-color: #f44a4d;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 2em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 6px 10px #999;

    transition:all .2s ease;
    width: 10em;
    height: auto;
}

.button:hover{
    background-color: #f33235;
}

.button:active {
  box-shadow: 0 5px 5px #666;
  transform: translateY(1px);
}

@media screen and (max-width: 780px) {
    #development p, #design p{
        width: 100%;
    }
     #design, #development{
        margin-right: none;
        width: 90%;
    }
}

@media screen and (max-width: 530px) {
    
    body{
        overflow-x: hidden;
    }
   
     
    
    #design h3, #development h3{
        width: 100%;
        text-align: left;
        font-size: 13pt;
        letter-spacing: 0pt;
    }
}

@media screen and (max-width: 430px) {
    
    .icons{
        width: 60px;
        height: auto;
        transition:all .5s ease;
    }
    
    #design, #development{
        width: 100%;
        margin-bottom: 30pt;
        transition:all .5s ease;
    }
    
    #development p, #design p{
        width: 100%;
    }
    
    #design h3, #development h3{
        width: 100%;
        text-align: left;
        font-size: 13pt;
        letter-spacing: 0pt;
    }
    
    #design img ,  #development img{
        margin-top: 0pt;       
    }

}