#skillsSection{
	position: relative;
	background-color: #2b2b2b;
	width: 100%;
	display:block;
	overflow:auto;
	z-index: 1;
	padding-bottom: 5em;
}

#skills{
	position: relative;
	margin: 0 auto;
	padding-top: 4em;
	width: 57%;
	padding-left: 5em;
}

#skillsSection h2{
	text-align: left;
	padding-bottom: 1em;
	margin-bottom: 0;
}

#skillsSection h3{
	text-align: left;
}

#skills .wrap{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  max-width: 50em;
}

.skill {
	display:flex;
	margin-bottom: 1em;
}

.skill p{
	margin: 0;
	width: 10em;
	color: beige;
	font-weight: bold;
}

#skillsSection #coding{
	width: 45%;
}

#skillsSection #softwares{
	width: 30%;
}

#skills ul{
	color: #4E8DFF;
	list-style: none;
	font-weight: bold;
    padding-left: 0em;
}

#skills ul li{
	margin-bottom: .8em;
}

#skills #software_header{
	font-family: 'Lato', sans-serif;
    color: #545454;
    font-size: 12pt;
    letter-spacing: 2px;
    font-weight: bold;
}

.progressbar {
	display: flex;
    background-color: #595959;
    border-radius: 15px;
    padding: 3px;
	width: 100%;
	height: 10px;
}

.progressbar div {
   /*background-color: orange;
   width: 40%;*/
   height: 10px;
   border-radius: 10px;
}

#cplusplus{
	 background-color: #faf4d7;
	 width: 70%;
}

#csharp{
	background-color: #394267;
	width: 50%;
}

#html{
	background-color: #b9d3ef;
    width: 80%;
}

#js{
	background-color: #96a1d1;
	width: 70%;
}

@media screen and (max-width: 960px) {
	#skills{
		width: 90%;
		padding-left: 0em;
	}
  
    #skillsSection #softwares{
        width: 10em;
	}
  
    #skills .wrap{
      max-width: 35em;
    }
}

@media screen and (max-width: 700px){
	#skills{
		width: 90%; 
		padding-top: 3em;
	}
  
    #skills .wrap{
      max-width: 30em;
    }
	
	#skillsSection #coding{
        width: 55%;
	}
  
  	#skillsSection #softwares{
        width: 8em;
	}
	
    #skillsSection p, ul li{
        font-size: 10pt;
    }
  
  
}

@media screen and (max-width: 430px){
	#skills{
		width: 85%;
	}
	
	#skills h2{
		text-align: center;
	}
	
	#skills h3{
		text-align: center;
		margin-top: 0;
	}
  
    #skillsSection p, ul li{
        font-size: 12pt;
    }
	
	#skillsSection #softwares{
		display: none;
	}
	

	
	#skillsSection #coding{
		width: 100%;
		padding: 0;
	}