@import url('https://fonts.googleapis.com/css?family=Sacramento');

.projects_wrap {
	width: 100%;
	padding-top: 35em;
	padding-bottom: 1em;
	background-color: #fcfcfc;
}

.projects {
	position: relative;
	margin: 0 auto;
	margin-top: -3em;
	width: 1200px;
}

.projects h2 {
	font-family: 'Raleway', sans-serif;
	position: relative;
	margin-top: 0;
	text-align: center;
	font-weight: 400;
	font-size: 50pt;
	color: #4C51AB;
	font-family: 'Sacramento', cursive;
}

.projects h3 {
	margin-top: 2em;
	margin-bottom: 5em;
	font-weight: 100;
	font-size: 18pt;
}

.proj {
	background: #efefef;
	margin-bottom: 15em;
	background-image: url("../media/seigaiha_white.png");
	background-repeat: repeat;
}

.proj-wrapper {
	font-family: 'Raleway', sans-serif;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	color: #545454;
}

.proj .desc:nth-child(even){
	margin-right: 3em;
}

.proj .desc h3 {
	text-align: left;
	font-size: 22pt;
	margin-bottom: 0;
	font-weight: 400;
}

.proj-wrapper img {
	position: absolute;
	width: auto;
	height: 350px;
	border-radius: 8px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	margin-top: 3em;
    margin-left: 40px;
}

.proj .desc {
    width: 450px;
}

.proj:nth-child(even) .desc {
    margin-left: auto;
}

.proj:nth-child(odd) .desc {
    margin-left: 3em;
}

.proj a {
	text-decoration: none;
}

.proj .desc .details {
	margin-bottom: 2em;
	font-size: 14pt;
}

.tags {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}

.tag {
	margin-right: 15px;
	font-family: 'Lato', sans-serif;
	padding: 0 10px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 2px;
	background: #ffff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.last {
	background: none;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 5em;
}

.proj .desc .details:nth-last-child(1){
    padding: 0;
}

@media screen and (max-width: 1250px) {
    
    .projects {
		width: 90%;
	}
    
    .projects h3 {
		font-size: 20pt;
	}
    
    .proj img {
        margin: 0px;
        margin-top: 2.5em;
        width: 45%;
        height: auto;
    }
    
    
/*
    .proj{
        width: 45%;
    }
    
    
    }
    
    .proj-wrapper{
        width: 95%;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .proj .desc .details {
		font-size: 13pt;
        width: 90%;
	}
    
    .proj-back:nth-child(odd) img {
	   margin-left: 0px;
    }

    .proj-back:nth-child(even) img {
        margin-left: 0px;
    }

    .proj:nth-child(odd) .desc {
        margin-left: 0em;
    }

    .proj:nth-child(even) .desc {
        margin-left: 0em;
    }
*/
/*
    .proj{
        display: block;
        margin: 0;
    }

	.projects {
		width: 90%;
	}
    
    .proj-wrapper{
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    
    
    .proj:nth-child(even) {
        margin-right: 0;
    }
    
    .proj-back img {
        margin: 0px;
    }

    .proj .desc {
        margin: 0em;
    }
    
	.proj .desc {
		width: 75%;
		padding: 0 2%;
        margin: 0;
        text-align: left;
	}
    
    .proj .desc .details {
		font-size: 13pt;
	}

	.proj-back img {
        width: auto;
        height: 200px;
    }

	.last .desc {
		padding: 0;
		width: 100%;
	}
*/
}


@media screen and (max-width: 960px) {

	.projects_wrap {
		padding-top: 35em;
	}

	.proj {
		margin-bottom: 10em;
	}

	.proj {
		position: relative;
		margin: 0 auto;
		margin-bottom: 10em;
		flex-direction: column;
	}

	.proj .desc {
		width: 100%;
		padding: 0;
	}

	.proj .desc .details {
		margin-bottom: 1em;
	}

	.last{
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.proj img {
		width: 100%;
		height: auto;
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 430px) {
	.projects {
		width: 90%;
		min-width: 360px;
	}

	.proj {
		width: 95%;
	}

	.projects h2 {
		font-size: 35pt;
	}

	.proj .desc .details {
		font-size: 10pt;
	}

	.proj .title a {
		padding-top: 40px;
	}
}